@model CadastroCliente.Application.Models.ApplicationLogin

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Tela de Login</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Scripts/style.css" rel="stylesheet" />
</head>
<body>

    @Html.AntiForgeryToken()

    <form class="box" asp-action="LoginCliente" method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1>Login</h1>
        <div>
            <input type="text" id="user" name="Login" placeholder="Username" value=@ViewBag.Login required oninvalid="this.setCustomValidity('O campo de Login é obrigatório')" oninput="this.setCustomValidity('')">
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger msg" })
        </div>
        <div>
            <input type="password" id="pass" name="Senha" placeholder="Password" required>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger msg" })
            <input type="submit" name="" value="Login">
        </div>
    </form>


</body>

</html>